/* SIDEBAR */
.sidebar {
  width: 340px;
  display: flex;
  flex-direction: column;
}

/* SEARCH RESULTS */
.search-results {
  width: 340px;
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: default;
}

.sidebar__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 1px solid #e8edf0;
}

@media (max-width: 1009px) {
  .search-results {
    width: 100%;
  }
}
