.footer {
  max-width: 1000px;
  padding: 0 12px;
  margin: 0 auto;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #a4a9ac;
}

/* COPYRIGHT */
.footer > small {
  font-size: 11px;
  max-width: 200px;
}

.footer > small *::selection {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer > small > p:first-child {
  line-height: 1.2;
}

.footer > small > p:first-child > a {
  text-decoration: underline;
}

.footer > small > p:first-child > svg {
  font-size: 10px;
  margin-right: 4px;
  margin-left: 2px;
  color: #aeb3b6;
}

/* JOBS AVAILABLE */
.footer > p {
  font-size: 11px;
  align-self: flex-start;
}

@media (max-width: 1009px) {
  .footer {
    max-width: 800px;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 660px) {
  .footer {
    justify-content: center;
  }

  .footer > small {
    text-align: center;
  }

  .footer > p {
    margin-left: 15px;
    text-align: right;
    display: none;
  }
}
